/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  display: grid;
  grid-template-areas:
    "title"
    "main";
}

body > header {
  grid-area: title;
  margin: 2em;
}

#collection-title {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 1.8em;
  font-weight: bold;
}

#collection-expiry-date {
  display: inline-block;
  background: linear-gradient(to right, purple, pink, orange);
  background-origin: border-box;
  border-radius: 1.5em;
  padding: 1px;
  margin: 0.2em 1em;
  vertical-align: bottom;
}

#collection-expiry-date > span {
  display: inline-block;
  color: var(--in-content-page-color);
  background: var(--in-content-page-background);
  border-radius: 1.5em;
  padding: .2em 1em;
}

#use-fx-home-controls:not(.success) > .success-prompt,
#use-fx-home-controls.success > .reset-prompt {
  display: none;
}

#use-fx-home-controls > .success-prompt::before {
  display: inline-block;
  content: "";
  background: var(--green-50) url('chrome://global/skin/icons/check.svg') center center no-repeat;
  -moz-context-properties: fill;
  fill: white;
  width: 22px;
  height: 22px;
  border-radius: 15px;
  vertical-align: middle;
  margin-inline-end: 0.5em;
}

body > section {
  grid-area: main;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}

input[type="radio"],
input[type="radio"]:checked {
  box-sizing: content-box;
  padding: 2px;
  border: 2px solid transparent;
  height: 24px;
  width: 24px;
  --colorway-icon: none;
  appearance: none;
  background-color: unset;
  background-image: var(--colorway-icon);
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  /* The icon may not be a perfect circle, so we render it bigger and clipped using background-clip and border-radius: */
  background-clip: content-box;
  background-size: 105%;
  border-radius: 50%;
}

input[type="radio"].active::before {
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  position: relative;
  inset-inline-start: 4px;
  inset-block-start: 4px;
  /* Use mask-image and filter to ensure the checkmark is visible over the icon: */
  mask-image: url(chrome://global/skin/icons/check.svg);
  filter: invert(1);
  background-image: var(--colorway-icon);
  background-position: center;
  background-repeat: no-repeat;
}

input[type="radio"]:enabled:checked,
input[type="radio"]:enabled:checked:hover {
  border-color: var(--in-content-accent-color);
}

/* override common-shared.css */
input[type="radio"]:enabled:hover,
input[type="radio"]:enabled:hover:active,
input[type="radio"]:checked,
input[type="radio"]:enabled:checked:hover,
input[type="radio"]:enabled:checked:hover:active {
  background-color: unset;
}

#colorway-customization-panel {
  padding-inline: 24px;
}

#colorway-details {
  margin-top: 50px;
}

#colorway-name {
  font-size: 2em;
  margin-block: 0 37px;
}

#colorway-description {
  font-size: 1.1em;
  margin-block: 0 24px;
}
