/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --player-bg-color: #000;
  --player-control-icon-fill: #fff;
  --btn-bg-color: rgba(50,50,50,0.55);
  --close-btn-bg-color: rgb(211,216,220);
  --close-btn-fill-color: #000;
  --resize-margin: 5px;
}

button::-moz-focus-inner {
  border: 0;
}

body {
  margin: 0;
  background-color: var(--player-bg-color);
}

body:fullscreen {
  -moz-window-dragging: no-drag;
}

.player-holder {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

browser {
  flex: 1;
}

#controls {
  height: calc(100% - 2 * var(--resize-margin));
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - 2 * var(--resize-margin));
  margin: var(--resize-margin);
  -moz-window-dragging: drag;
}

#controls button {
  appearance: none;
  border: 0;
  z-index: 1;
}

#controls[keying] button:-moz-focusring,
.switch > input:focus-visible + .slider,
.font-size-selection > label > input:focus-visible {
  outline: 2px solid #fff;
  box-shadow: 1px 2px 5px #000;
}

#controls-bottom {
  display: flex;
  position: absolute;
  bottom: 15px;
  justify-content: center;
  width: 100%;
}

.gap {
  flex: 0.1;
  max-width: 50px;
}

.control-item {
  -moz-window-dragging: no-drag;
  background-color: var(--btn-bg-color);
  border-radius: 4px;
  cursor: pointer;
  /**
   * Make the button dimensions a square proportional to one
   * dimension of the window - in this case, the width dimension,
   * since we suspect most videos are wider than they are tall.
   */
  height: 10vmax;
  width: 10vmax;
  max-height: 32px;
  max-width: 32px;
  min-height: 16px;
  min-width: 16px;
  transition: opacity 160ms linear;
  opacity: 0;
  background-repeat: no-repeat;
  -moz-context-properties: fill;
  fill: var(--player-control-icon-fill);
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

#controls[keying] .control-item:focus {
  border-radius: 0px;
}

/* Set opacity for buttons when controls are visible on the pip window and are not hovered over. For fullscreen mode, only apply opacity if there is a showing attribute. */
body:not(:fullscreen) #controls:hover .control-item:not(:hover),
body:fullscreen #controls[showing]:hover .control-item:not(:hover) {
  opacity: 0.8;
}

#controls[keying] .control-item,
#controls[showing] .control-item,
#controls:hover .control-item:hover {
  opacity: 1;
}

#close {
  background-color: var(--close-btn-bg-color);
  background-image: url("chrome://global/skin/icons/close.svg");
  position: absolute;
  right: 10px;
  top: 10px;
  fill: var(--close-btn-fill-color);
}

#close[mac="true"] {
  right: auto;
  left: 10px;
}

#playpause {
  left: 55%;
}

#controls.playing #playpause {
  background-image: url("chrome://global/skin/media/pause-fill.svg");
}

#controls:not(.playing) #playpause {
  background-image: url("chrome://global/skin/media/play-fill.svg");
}

#controls.muted #audio {
  background-image: url("chrome://global/skin/media/audio-muted.svg");
}

#controls:not(.muted) #audio {
  background-image: url("chrome://global/skin/media/audio.svg");
}

#unpip {
  background-image: url("chrome://global/skin/media/picture-in-picture-closed.svg");
  left: 45%;
}

#unpip:-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}

.closed-caption {
  background-image: url("chrome://global/skin/media/closed-caption-settings-button.svg");
  color: white;
}

.closed-caption:dir(rtl) {
  transform: scaleX(-1);
}

.box {
  -moz-window-dragging: no-drag;
  background-color: #2B2A33;
  text-align: start;
  font-size: 1em;
  width: 186px;
  padding: 0 8px;
  margin: 0;
  margin-inline-start: -70px;
  border-radius: 8px;
}

.hide {
  display: none;
}

.bold {
  font-weight: 590;
}

.box > input[type="radio"]{
  background-color: red;
  fill: currentColor;
}

.box label:not(.switch) {
  color: white;
  padding: 8px;
  font-family: sans-serif;
  display: block;
}

.panel {
  position: absolute;
  bottom: 22px;
  user-select: none;
}

.arrow {
  border: 10px solid transparent;
  border-top-color: #2B2A33;
  width: 0;
  height: 0;
  inset-inline-start: -25px;
  position: relative;
}

.font-size-selection {
  padding: 8px;
}

.grey-line {
  width: 100%;
  height: 1px;
  background: #8F8F9D;
}

.font-size-selection > label > input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #8f8f9d;
  border-radius: 50%;
}

.font-size-selection > label > input[type="radio"]:checked {
  border: 4px solid #00ddff;
  border-radius: 50%;
}

.subtitle-grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 46px;
  padding: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
  grid-column: 2;
  margin: 8px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  inset: 0;
  transition: transform 250ms;
  border-radius: 13px;
  background-color: #55545f;
}

.slider::before {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  inset-inline-start: 2px;
  bottom: 2px;
  background-color: #2B2A33;
  transition: transform 250ms;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #00ddff;
}

input:checked + .slider::before {
  transform: translateX(16px);
}

input:checked + .slider:dir(rtl)::before {
  transform: translateX(-16px);
}

.font-size-overlay {
  opacity: 0.4;
  pointer-events: none;
}

@media (max-height: 325px) {
  .subtitles {
    display: none;
  }
}
